# Dataset: marketing_data
# Data Preprocessing

importing necessary libraries

In [29]:
import numpy as np
import pandas as pd
import re

Loading Dataset

In [30]:
df = pd.read_csv("marketing_data.csv")

Total rows & columns

In [31]:
# Total rows
total_rows = df.shape[0]
print("Total rows:", total_rows)

# Total columns
total_columns = df.shape[1]
print("Total columns:", total_columns)

Total rows: 2240
Total columns: 28

Checking missing values per column

In [32]:
missing_values = df.isnull().sum()
print(missing_values)

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Response                0
Complain                0
Country                 0
dtype: int64

filling the missing Income values with 0

In [34]:
def clean_income(val):
   
    if pd.isna(val):
        return 0.0
    s = str(val).strip()
    
    s = re.sub(r'[^0-9\.\-]', '', s)
    
    if s in ['', '.', '-', '-.']:
        return 0.0
    
    if s.count('.') > 1:
        parts = s.split('.')
        s = parts[0] + '.' + ''.join(parts[1:])
    try:
        return float(s)
    except:
        return 0.0

df['Income'] = df['Income'].apply(clean_income)

In [35]:
df['Income'].head()

0    84835.0
1    57091.0
2    67267.0
3    32474.0
4    21474.0
Name: Income, dtype: float64

Verifying if there remains missing values

In [36]:
df.isnull().sum()

ID                     0
Year_Birth             0
Education              0
Marital_Status         0
Income                 0
Kidhome                0
Teenhome               0
Dt_Customer            0
Recency                0
MntWines               0
MntFruits              0
MntMeatProducts        0
MntFishProducts        0
MntSweetProducts       0
MntGoldProds           0
NumDealsPurchases      0
NumWebPurchases        0
NumCatalogPurchases    0
NumStorePurchases      0
NumWebVisitsMonth      0
AcceptedCmp3           0
AcceptedCmp4           0
AcceptedCmp5           0
AcceptedCmp1           0
AcceptedCmp2           0
Response               0
Complain               0
Country                0
dtype: int64

Checking Datatypes

In [37]:
df.dtypes

ID                       int64
Year_Birth               int64
Education               object
Marital_Status          object
Income                 float64
Kidhome                  int64
Teenhome                 int64
Dt_Customer             object
Recency                  int64
MntWines                 int64
MntFruits                int64
MntMeatProducts          int64
MntFishProducts          int64
MntSweetProducts         int64
MntGoldProds             int64
NumDealsPurchases        int64
NumWebPurchases          int64
NumCatalogPurchases      int64
NumStorePurchases        int64
NumWebVisitsMonth        int64
AcceptedCmp3             int64
AcceptedCmp4             int64
AcceptedCmp5             int64
AcceptedCmp1             int64
AcceptedCmp2             int64
Response                 int64
Complain                 int64
Country                 object
dtype: object

necessary conversions are:

Income → numeric (float) = was done before

Dt_Customer → datetime

In [38]:
# Converting Dt_Customer to datetime; replace invalid dates with current date
def convert_date(val):
    try:
        return pd.to_datetime(val, format='%m/%d/%y')
    except:
        return pd.to_datetime(datetime.today().date())

df['Dt_Customer'] = df['Dt_Customer'].apply(convert_date)

verifying datatypes

In [39]:
df.dtypes

ID                              int64
Year_Birth                      int64
Education                      object
Marital_Status                 object
Income                        float64
Kidhome                         int64
Teenhome                        int64
Dt_Customer            datetime64[ns]
Recency                         int64
MntWines                        int64
MntFruits                       int64
MntMeatProducts                 int64
MntFishProducts                 int64
MntSweetProducts                int64
MntGoldProds                    int64
NumDealsPurchases               int64
NumWebPurchases                 int64
NumCatalogPurchases             int64
NumStorePurchases               int64
NumWebVisitsMonth               int64
AcceptedCmp3                    int64
AcceptedCmp4                    int64
AcceptedCmp5                    int64
AcceptedCmp1                    int64
AcceptedCmp2                    int64
Response                        int64
Complain                        int64
Country                        object
dtype: object

Checking duplicate rows

In [40]:
duplicate_rows = df.duplicated()
print("Total duplicate rows:", duplicate_rows.sum())

Total duplicate rows: 0

Checking Inconsistences

In [41]:
# unique values for categorical columns
categorical_cols = ['Education', 'Marital_Status', 'Country']
for col in categorical_cols:
    print(f"{col} unique values:\n", df[col].unique(), "\n")

Education unique values:
 ['Graduation' 'PhD' '2n Cycle' 'Master' 'Basic']

Marital_Status unique values:
 ['Divorced' 'Single' 'Married' 'Together' 'Widow' 'YOLO' 'Alone' 'Absurd']

Country unique values:
 ['SP' 'CA' 'US' 'AUS' 'GER' 'IND' 'SA' 'ME']

In [42]:
# Checking for negative or suspicious numeric values
numeric_cols = ['Income', 'Recency', 'MntWines', 'MntFruits', 'MntMeatProducts', 
                'MntFishProducts', 'MntSweetProducts', 'MntGoldProds',
                'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases',
                'NumStorePurchases', 'NumWebVisitsMonth']

for col in numeric_cols:
    print(f"{col} min/max:", df[col].min(), df[col].max())

Income min/max: 0.0 666666.0
Recency min/max: 0 99
MntWines min/max: 0 1493
MntFruits min/max: 0 199
MntMeatProducts min/max: 0 1725
MntFishProducts min/max: 0 259
MntSweetProducts min/max: 0 263
MntGoldProds min/max: 0 362
NumDealsPurchases min/max: 0 15
NumWebPurchases min/max: 0 27
NumCatalogPurchases min/max: 0 28
NumStorePurchases min/max: 0 13
NumWebVisitsMonth min/max: 0 20

In [43]:
# Checking for abnormal dates
print("Customer date range:", df['Dt_Customer'].min(), "to", df['Dt_Customer'].max())

Customer date range: 2012-07-30 00:00:00 to 2014-06-29 00:00:00

In [44]:
df['Dt_Customer'].head(10)

0   2014-06-16
1   2014-06-15
2   2014-05-13
3   2014-05-11
4   2014-04-08
5   2014-03-17
6   2014-01-29
7   2014-01-18
8   2014-01-11
9   2014-01-11
Name: Dt_Customer, dtype: datetime64[ns]

Correction of categorical column's values

In [45]:
# Replacing "2n Cycle" → "2nd Cycle"
df['Education'] = df['Education'].replace({'2n Cycle': '2nd Cycle'})

# Replacing all invalid entries ('YOLO', 'Alone', 'Absurd') → "Other"
valid_status = ['Divorced', 'Single', 'Married', 'Together', 'Widow']
df['Marital_Status'] = df['Marital_Status'].apply(lambda x: x if x in valid_status else 'Other')

# Replacing codes with full country names:
country_map = {
    'SP': 'Spain',
    'CA': 'Canada',
    'US': 'United States',
    'AUS': 'Australia',
    'GER': 'Germany',
    'IND': 'India',
    'SA': 'Saudi Arabia',
    'ME': 'Mexico'
}

df['Country'] = df['Country'].replace(country_map)

verifying Categorical column's consistency

In [46]:
print(df['Education'].unique())
print(df['Marital_Status'].unique())
print(df['Country'].unique())

['Graduation' 'PhD' '2nd Cycle' 'Master' 'Basic']
['Divorced' 'Single' 'Married' 'Together' 'Widow' 'Other']
['Spain' 'Canada' 'United States' 'Australia' 'Germany' 'India'
 'Saudi Arabia' 'Mexico']

viewing the dataset

In [47]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain,Country
0,1826,1970,Graduation,Divorced,84835.0,0,0,2014-06-16,0,189,...,6,1,0,0,0,0,0,1,0,Spain
1,1,1961,Graduation,Single,57091.0,0,0,2014-06-15,0,464,...,7,5,0,0,0,0,1,1,0,Canada
2,10476,1958,Graduation,Married,67267.0,0,1,2014-05-13,0,134,...,5,2,0,0,0,0,0,0,0,United States
3,1386,1967,Graduation,Together,32474.0,1,1,2014-05-11,0,10,...,2,7,0,0,0,0,0,0,0,Australia
4,5371,1989,Graduation,Single,21474.0,1,0,2014-04-08,0,6,...,2,7,1,0,0,0,0,1,0,Spain

Exporting Cleaned dataset

In [48]:
df.to_csv("Marketing_Campaign_Data.csv", index=False)

# Finally Dataset is Cleaned! Ready for CAMPAIGN PERFORMANCE TRACKER.